*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
#content{
    max-width: 100%;
    margin: 0 auto;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #F0F3BD;
    padding: 20px;
    margin: 50px;
}
.home-title{
    font-family: Garamond, Times, Serif;
    font-size: 2em;
    margin-top: 10px;
}
.h2{
    font-family: Garamond, Times, Serif;
}
.book, .join{
    text-decoration: none;
    font-size: 18px;
    color: #F0F3BD;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.button-box{
    padding: 3%;
}
footer a{
    text-decoration: none;
    color: #02C39A;
}
.card-img{
    width: 50%;
    max-height: 30%;
    padding: 25px 0%;
}
#hero-img{
    max-height:20em;
    min-width: max-content;
    margin-left: 0%;
    margin-right: 0%;
}
#background {
    height: 725px;
    background-color: #1B5299;
    color: #F0F3BD;
}
body{
    background-color: #FF1053;
    color: #F0F3BD;
    font-family:Verdana, Tahoma, sans-serif;
}
header{
    background-color: #02C39A;
    color: #F0F3BD;
}
nav a:hover{
    background-color: #F0F3BD;
    color: #00755c;
}
.book, .join{
    background-color: #00755c;
    color: #F0F3BD;

}
.book:hover, .join:hover{
    background-color: #F0F3BD;
    color: #00755c;
}
.msg{
    background-color: #02C39A;
    color: #F0F3BD;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 35px;
}
.msg p{
    padding-bottom: 15px;
}
footer{
    background-color: #F0F3BD;
    color: #02C39A;
    padding: 25px 50px;
    margin-top: 50px;
}
footer .social img{
    padding-top: 15px;
}
.logo{
    width: 250px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
p{
    font-size: 0.8em;
}
#logo_link{
    padding-top: 5px;
}